.section{
  display: flex;
  flex-direction: column;
  gap: 20px;
  .tittle{
    font-weight: 600;

  }
  .container{
    border-radius: 12px;
    overflow: hidden;
    .map{
      height: 450px;
       width: 100%;
    }
  }
  
}