.filter{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  background-color:rgba(93, 93, 167, 0.074);
  border: 1px solid rgba(142, 142, 255, 0.433);
  padding: 5px;
  select{  
    font-size: 14px;
    padding: 10px;
    border-radius: 3px;
    transition: outline 0.3s ease 0s;
      &:hover{
       outline: 1px solid; 
      }
      &:focus{
        outline: 1px solid;
      }
    option{
      font-size: 14px;
      &:hover{
        background: rgba(142, 142, 255, 0.433); 
       }
    }
  }
  button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #d68946a3;
    color: white;
    transition: box-shadow 0.3s ease 0s, background-color 0.3s ease 0s, color 0.3s ease 0s;
      &:hover{
        background-color: #d68946;
        box-shadow: inset 0px 2px 6px #b9763c;
      }
    
  }
}
.section{
border: 1px solid rgba(142, 142, 255, 0.433);
overflow: auto;
height:  calc(100vh - 220px);
@media (max-width:600px){
  height:  calc(100vh - 90px);
}
  .title{
    display: grid;
    grid-template-columns: minmax(100px, 1fr)  minmax(100px, 1fr) minmax(100px, 1fr);
    background-color: rgba(93, 93, 167, 0.074);
    font-weight: 700;
    padding: 5px 10px;
    border: 1px solid rgba(142, 142, 255, 0.433);
    @media (max-width:800px){
      font-size: 14px;
  }
  }
  .blocks{
    display: flex;
    flex-direction: column;
    gap: 1px   ;
  }
}


// scroll-bar
.section::-webkit-scrollbar {
  width: 7px; /* ширина для вертикального скролла */
   /* высота для горизонтального скролла */
  background-color: #F9F9F9;

}
.section::-webkit-scrollbar-thumb{
  background-color: #acc3f5; /* ползунок скроллбара  */
  border-radius: 2px;
  border-radius: 1px;    
  height: 149px;    
}

.section::-webkit-scrollbar-thumb:hover { /* ползунок скроллбара при наведенні  */
  background-color: #88abf7
}
.section::-webkit-scrollbar-button:vertical:start:decrement { /* стрелки */
  background-color: transparent;  

}

.section::-webkit-scrollbar-button:vertical:end:increment {   /* стрелки */
  background-color: transparent;  

}

.section::-webkit-scrollbar-button:horizontal:start:decrement { /* стрелки */
  background-color: transparent;  
}
.section::-webkit-scrollbar-button:horizontal:end:increment { /* стрелки */
  background-color: transparent;  
}