.menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  transform: translateX( 0);
  background-color: #64697c;
  color: #e7e7f3;
  height: 100%;
  width: 220px;
  padding: 14% 0px 40px 0px;
  transition: all 0.3s ease 0s;
  
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    height: 100%;
    overflow: auto;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__link {
    padding: 15px 20px;
    width: 100%;
    transition: color 0.3s ease 0s;
    display: flex;
    gap: 7px;
    align-items: center;
    &::before{
      content:'';
      width: 24px;
      height: 24px;
      display: block;
    }
    &:hover{
      background-color: #6c7388;
      }
    &:active{
        color: white;
        }
    font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 500;

  }

  }


  .menu-hide {
    transform: translateX( -100%);
    transition: all 0.3s ease 0s;
  }
  .menu-mobile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 140px;
    .menu__body{
      font-size: 30px;
      width: 100%;
      align-items: center;
      
      .menu__list{
        width: 100%;
        align-items: center;
        .menu__item{
          width: 100%;
          .menu__link{
            font-size: 26px;
            padding: 20px 5px;
            text-align: center;
            justify-content: center;
          }
        }
        
      }  
    }
  }
  
  .menu__list-one .menu__item:nth-child(1) .menu__link::before{
    background: url(../img/menu/product.svg) center no-repeat;
  }
  .menu__list-one .menu__item:nth-child(2) .menu__link::before{
    background: url(../img/menu/operat.svg) center no-repeat;
  }
  .menu__list-one .menu__item:nth-child(3) .menu__link::before{
    background: url(../img/menu/users.svg) center no-repeat;
  }
  
  .menu__list-one .menu__item:nth-child(4) .menu__link::before{
    background: url(../img/menu/statistik.svg) center no-repeat;
  }
  .menu__list-two .menu__item:nth-child(1) .menu__link::before{
    background: url(../img/menu/dovidka.svg) center no-repeat;
  }
  
  .menu__list-two .menu__item:nth-child(2) .menu__link::before{
    background: url(../img/menu/use.svg) center no-repeat;
  }

  .active{
   color: white;
   .menu__list &{
    background-color: #535868;
   }
  }