.App {
  min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
  position: relative;

  color: #333;
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

